# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/
tsconfig.tsbuildinfo
next-env.d.ts

# Production / Temporary data
/.data/*
!/.data/app_state.json
*.log

# Environment variables & local configs
.env*.local
.env

# OS files
.DS_Store
*.pem
